h1{
  margin-top: 0px;
  font-family: 'Festive', cursive;
  font-size: 90px;
  margin: 50px auto 0 auto;
  color:#66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Andada Pro', serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
  line-height: 2;
}
body{
  text-align: center;
  margin-top: 0px;
}
div{

}
.topCont{
    background-color: #e4f9f5;
    border:10px solid;
    padding:20px;
}
.midCont{

}
.bottomCont{

}
.bottomCloud{
  position:absolute;
}
.topCloud{
  position: relative;
  left:150px;
}
