h1{
  margin-top: 0px;
}
body{
  text-align: center;
  margin-top: 0px;
}
div{

}
.topCont{
    background-color: #e4f9f5;
    border:10px solid;
    padding:20px;
}
.midCont{
  width:200px;
  height:200px;
  border:20px solid;
  background-color: red;

}
.bottomCont{
width: 200px;
height:200px;
border:10px solid;
background-color: yellow;

}
.bottomCloud{
  position:absolute;
}
.topCloud{
  position: relative;
  left:150px;
}
